# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List functions of JupyterLab and GitHub

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List functions of JupyterLab and GitHub

# Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Julia

# Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Julia

# Some of the commonly used libraries used by Data Scientists include:
1. Ggplot
2. Pandas
3. Numpy
4. PyTorch
5. Scikit-learn
6. Keras
7. Matplotlib

# Some of the commonly used libraries used by Data Scientists include:
1. Ggplot
2. Pandas
3. Numpy
4. PyTorch
5. Scikit-learn
6. Keras
7. Matplotlib

|Data Science Tools|
|------------------|
|RStudio|
|Spyder|
|Jupiter Notebook|

|Data Science Tools|
|------------------|
|RStudio|
|Spyder|
|Jupiter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Maniveenthan

## Author
Maniveenthan